.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.navbarlink {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;

      a {
        padding: 0.5em;
        color: white;
      }
    }

  }

}
