.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
table {
    width: 100%;
}
button {
    background: #579619;
}
mat-toolbar {
    input {
        width: 30%;
    }
}